body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial",
    "sans-serif";
  line-height: 1.6;
  background: #f1faee url(./img/ruido.png);
}
.container {
  margin: 0 auto;
  width: 960px;
}
.container h2 a {
  color: #e63946;
  text-decoration: none;
}

.container h2 a:hover {
  padding: 4px;
  background-color: #e63946;
  color: #fff;
  border-radius: 2px;
  translate: 0.2s ease-in-out;
}
.item {
  margin-top: 0;
  display: flex;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-color: #ccc #999 #999 #ccc;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  height: 260px;
}

.card h2 {
  border-bottom: 1px dashed #e63946;
  margin: 0;
}

.card a {
  color: #2c88a7;
  font-weight: bold;
}

.card img {
  border: 1px solid #e63946;
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px;
  height: 156px;
  width: 156px;
}
.places {
  float: right;
  width: 660px;
}
.sidenote {
  background-color: #fffbe4;
  border: 1px solid #c9bc8f;
  padding: 10px;
  float: right;
  padding: 10px;
  width: 260px;
}

.sidenote h3 {
  font-size: 14px;
  margin-top: 0;
}

.sidenote ol {
  font-size: 12px;
}

.footer {
  font-size: 12px;
  text-align: center;
}
